/* Google fonts - Poppins */
@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Poppins', Arial, Helvetica, sans-serif;
    background-color: #0118D8;
    color: #FFF8F8;
}

.container {
    width: 100%;
    margin: 1em auto;
    display: flex;
    flex-direction: column;
}

.container header {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

header .logo {
    width: 300px;
    border-radius: 50%;
    padding: 1em;
    background-color: #E9DFC3;
}

header .title-1 {
    font-size: 2em;
    margin-top: 1em;
}

header .title-2 {
    font-size: 1.5em;
}

main .icon-linktree {
    margin: 2em;
    display: flex;
    gap: 1.2em;
    justify-content: center;
}

.icon-linktree a {
    text-decoration: none;
    border-radius: 10%;
    border: 1px solid white;
    display: flex;
    padding: 0.2em;
    align-items: center;
    font-size: 3em;
    color: white;
    justify-content: center;
    font-weight: 600;
    transition: all 0.5s ease-in-out;
}

.icon-linktree a:hover {
    border-radius: 50%;
    background-color: black;
    font-weight: 600;
}

main .linktree {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 1.5em;
}

.linktree a {
    width: 50%;
    text-decoration: none;
    font-size: 1.5em;
    padding: 1em;
    font-weight: bold;
    color: #FFF8F8;
    border-radius: 2em;
    text-align: center;
    display: inline-block;
    border: 10px solid #E9DFC3;
    transition: all 0.5s ease-in-out;
}

.linktree :hover {
    background-color: #1B56FD;
    color: white;
    border-color: white;
}

footer {
    background-color: #1B56FD;
    padding: 2em;
    font-size: 1.5em;
    font-weight: bold;
    color: white;
    text-align: center;
}

/* Responsive mobile */
@media only screen and (max-width: 800px) {
    header .logo {
        width: 200px;
        padding: 0.5em;
    }
    
    header .title-1 {
        font-size: 1.5em;
    }
    
    header .title-2 {
        font-size: 1em;
    }
    
    main .icon-linktree {
        flex-wrap: wrap;
        gap: 1em;
    }
    
    .icon-linktree a {
        padding: 0.1em;
        font-size: 2em;
    }
    
    .linktree a {
        width: 85%;
        font-size: 1em;
        padding: 0.5em;
        border: 7px solid #E9DFC3;
    }
    
    footer {
        padding: 1.5em;
        font-size: 1em;
    }
        
}